<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="QuinaNadal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <applicationSettings>
    <QuinaNadal.Properties.Settings>
      <setting name="ServerSync" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ServerUrl" serializeAs="String">
        <value>http://localhost:44080</value>
      </setting>
      <setting name="ModeServer" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RefreshRate" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="RunDemo" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Titol" serializeAs="String">
        <value>QUINA NADAL</value>
      </setting>
      <setting name="Entitat" serializeAs="String">
        <value>Escriu el nom de la teva entitat (.config)</value>
      </setting>
      <!-- El logo es pot guardar en la mateixa carpeta amb el nom logo.jpg o logo.png -->
    </QuinaNadal.Properties.Settings>
  </applicationSettings>
</configuration>